.header {
    color: black;
    text-align: center;
    background: bisque;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.carePart {
    width: 1200px;
    margin: auto;
    height: 600px;
}