{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="header">
            <h1>Welcome</h1>
        </div>

        <div class="indexPage">
             <div id="carouselExampleControls" class="carousel slide carePart" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page1")}}"><img src="{{ url_for('static', filename='images/git_logo.png') }}" class="d-block w-100" alt="first"></a>
    </div>
    <div class="carousel-item">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page2")}}"><img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100" alt="second" style="width:600px"></a>
    </div>
    <div class="carousel-item">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page3")}}"><img src="{{ url_for('static', filename='images/python_flask.png') }}" class="d-block w-100" alt="third"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page4")}}"><img src="{{ url_for('static', filename='images/cicd.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    </div>
{% endblock %}