{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="header">
            <h1>Welcome</h1>
        </div>

        <div class="indexPage">
             <div id="carouselExampleControls" class="carousel slide carePart" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page1")}}"><img src="{{ url_for('static', filename='images/git_logo.png') }}" class="d-block w-100" alt="first"></a>
    </div>
    <div class="carousel-item">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page2")}}"><img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100" alt="second" style="width:600px"></a>
    </div>
    <div class="carousel-item">
        <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page3")}}"><img src="{{ url_for('static', filename='images/python_flask.png') }}" class="d-block w-100" alt="third"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page4")}}"><img src="{{ url_for('static', filename='images/cicd.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page9")}}"><img src="{{ url_for('static', filename='images/pylint.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page6")}}"><img src="{{ url_for('static', filename='images/aaa.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page7")}}"><img src="{{ url_for('static', filename='images/oop.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
      <div class="carousel-item">
          <a class="nav-item nav-link active" href="{{ url_for('simple_pages.show', page="page8")}}"><img src="{{ url_for('static', filename='images/solid.png') }}" class="d-block w-100" alt="fourth"></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    </div>
    <div class="aboutMe">
        <h2>About Me</h2>
        <p>
            Hello, my name is Samara and I'm currently a junior studying Computer Science with a minor in Mobile and Web development at
            NJIT. I am currently taking the course IS218 which is teaching me how to use software like Docker, flask, etc. to create
            web applications. In my free time I enjoy reading books and watching my favorite tv shows.
        </p>
    </div>
{% endblock %}