{% extends "base.html" %}
{% block content %}
    <div class="container-fluid content">
        <div class="header">
            <h1>SOLID</h1>
        </div>
        <div class="def">
            <h3>
                Single-responsibility Principle (SRP)
            </h3>
            <p>
                SRP states that "A class should have one and only one reason to change, meaning that a class should have only one job." (1)
                <br/>
                An example of SRP in the calculator program would be the following:
                <br/>
                <br/>
                class Subtraction:
                <br/>
                &nbsp @staticmethod
                <br/>
                &nbsp def subtract(value_1, value_2):
                <br/>
                &nbsp &nbsp return value_1 - value_2
                <br/>
                <br/>
                This example showcases the SRP design principle because it performs only one job which is to subtract two
                inputs from each other.
            </p>
        </div>
        <div class="def">
            <h3>
                Open-closed Principle (OCP)
            </h3>
            <p>
                OCP states that "Objects or entities should be open for extension but closed for modification." (1)
                In other words, this principle encourages programmers to write classes or entities of code in a certain way so that if new
                functionality is need it the existing code does not need be modified.
            </p>
        </div>
        <div class="def">
            <h3>
                Liskov Substitution Principle
            </h3>
            <p>
                This principle states "that a superclass object should be replaceable with a subclass object without breaking the functionality of the software." (2)

            </p>
        </div>
        <div class="def">
            <h3>
                Interface Segregation Principle
            </h3>
            <p>
                This principle states that "A client should never be forced to implement an interface that it doesn’t use, or clients shouldn’t be forced to depend on methods they do not use." (1)
            </p>
        </div>
        <div class="def">
            <h3>
                Dependency Inversion Principle
            </h3>
            <p>
                This principle states that "High-level modules, which provide complex logic, should be easily reusable and unaffected by changes in low-level modules, which provide utility features." (3)
                This can be achieved by using abstraction.
            </p>
        </div>
    </div>
{% endblock %}