{% extends "base.html" %}
{% block content %}
    <div class="container-fluid content">
        <div class="header">
            <h1>Git</h1>
        </div>
        <div class="info">
            <div class="row">
                <h2>Branches:</h2>
                <p>Git branches are pointers that point to changes that
                    are made to a developer's code. It creates different versions
                    of a developer's code and allows the
                    users to change and manipulate the code the way they want to. </p>
            </div>
            <div class="row">
                <h2>Merge:</h2>
                <p>In Git, to merge is to integrate/combine several branches of
                    development into one. This causes
                    for progress made on various branches to be combined and
                    saved to a repository.</p>
            </div>
            <div class="row">
                <h2>Commit:</h2>
                <p>In Git, to commit is to process the current
                    state of code including recent changes to a record history of changes.</p>
            </div>
            <div class="row">
                <h2>Tags:</h2>
                <p>
                 Git tags are used to allow developers to create
                    reference points in Git history. In other words,
                    if they want to highlight a specific point in history then they can provide
                    that point with a tag, so that the developer can reference it whenever they want.
                </p>
            </div>
            <div class="row">
                <h2>Repositories:</h2>
                <p>
                    A place where information is stored. In terms of Git,
                    a repository is a place where data/code/information is stored or managed.
                </p>
            </div>
        </div>
    </div>
{% endblock %}